body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

/*  loading page */
#loading_page {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

#loading_welcome {
    position: relative;
    padding: 0;
    margin: 0;

    width: 100%;
    text-align: center;

    font-size: 2em;
    top: 6em;
}

#loading_info {
    position: absolute;
    padding: 0;
    margin: 0;

    right: 2em;
    bottom: 3em;

    text-align: center;

    width: 28%;
}

#loading_progress {
    width:100%;
    height: 0.5em;
}

#loading_progress_bar {
    background-color: #000000;
    height: 0.38em;
}
